@import "colors";

body {
    font-size: 0.8rem;
    background-color: $elephant;
}

.app-nav {
    height: 2em;
    font-size: 2em;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $snow;

    .app-logo {
        width: 1em;
    }

    .app-title {
        padding-left: 10px;
    }
}

.app-body {
    margin: 20px;
}

@for $i from 1 through 20 {
    .width-#{$i} {
        width: $i * 1rem
    }
}

.btn-primary {
    background-color: $horizon;

    &:hover {
        background-color: $elephant;
    }
}

.card-link {
    color: $horizon;
}

/* Set the color of the icon */
svg path, svg rect{
    fill: #FF6700;
}